{% extends "base.html" %}

{% block title %}ListAction{% endblock %}

{% block page_content %}
<div class="page-header">
	<head>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
		<!-- script js dans base html -->
	</head>
	<body>
		<h3>liste des actions - appFlask</h3>
		<hr/>

		{%- for category, message in get_flashed_messages(with_categories = true) %}
		<div class = "alert alert-danger">
		{{ message }}
		</div>
		{%- endfor %}
		
		<!-- addnumber with test1.js  -->
		<h1>jQuery Example</h1>
		
		<input type="number" id="a">
		<input type="number" id="b">
		<button id="calc">Calc</button>
		<div id="results">
		   <div id="add"></div>
		   <div id="subtract"></div>
		   <div id="multiply"></div>
		   <div id="divide"></div>
		</div>

		<pre id="info"></pre>
		<div id="description"></div>

		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="../static/js/test3.js?r={{reload}}"></script>
	</body>
</div>
{% endblock %}