{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Euro{% endblock %}

{% block page_content %}
<div class="page-header">
<!--     <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %} -->
	<table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Symblole</th>
            </tr>
         </thead>

         <tbody>
            {% for action in listActions %}
               <tr>
                  <td>{{ action.name }}</td>
                  <td>{{ action.symbole }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}