{% extends "base.html" %}

{% block title %}NewAct1{% endblock %}

{% block page_content %}
<div class="page-header">
	<body>
		<h3>New actions - appFlask</h3>
		<hr/>

		{%- for category, message in get_flashed_messages(with_categories = true) %}
		<div class = "alert alert-danger">
			{{ message }}
		</div>
		{%- endfor %}

		<form action = "{{ request.path }}" method = "post">
				{{ form.hidden_tag() }}
			<p>
				{{ form.name.label }}<br>
				{{ form.name(size=32) }}<br>
				{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.symbol.label }}<br>
				{{ form.symbol(size=32) }}<br>
				{% for error in form.symbol.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>

		<hr/>
		
		<table class="table" id="owned_stock_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Symbole</th>
			</tr>
		</thead>
		<tbody>
		{% for action in listActions %}
			<tr>
				<td>{{ action.name }}</td>
				<td>{{ action.symbol }}</td>
				<td>{{ action.name }}</td>
				<td>
					<a href="{{url_for('main.delete_student')}}" data-id="{{ action.name }}" >Delete</a>
					<button type="button" class="btn btn-primary" onclick="Delete(this)">Delete</button>
					<button type="submit" class="btn removeButton" data-id="345">Remove</button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</body>
</div>
{% endblock %}