{% extends "base.html" %}

{% block title %}NewAct1{% endblock %}

{% block page_content %}
<div class="page-header">
	<body>
		<h3>New actions - appFlask</h3>
		<hr/>

		{%- for category, message in get_flashed_messages(with_categories = true) %}
		<div class = "alert alert-danger">
			{{ message }}
		</div>
		{%- endfor %}

		<form action = "{{ request.path }}" method = "post">
				{{ form.hidden_tag() }}
			<p>
				{{ form.name.label }}<br>
				{{ form.name(size=32) }}<br>
				{% for error in form.name.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.symbol.label }}<br>
				{{ form.symbol(size=32) }}<br>
				{% for error in form.symbol.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>

		<hr/>
		<div class="wrapper-editor">
			<table class="table" id="owned_stock_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Symbole</th>
				</tr>
			</thead>
			<tbody>
			{% for action in listActions %}
				<tr>
					<td>{{ action.name }}</td>
					<td>{{ action.symbol }}</td>
					<td>{{ action.name }}</td>
					<td>
						<a href="{{url_for('main.delete_student')}}" data-id="{{ action.name }}" >Delete</a>
						<button type="button" class="btn btn-primary" onclick="Delete(this)">Delete</button>
						<button type="submit" class="btn removeButton" data-id="345">Remove</button>
						<button class="btn trash"><i class="fa fa-trash"></i></button>
						<button class="btn edit"><i class="fa fa-edit">edit</i></button>
					</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
			<a href="{{ url_for('main.newEdit') }}"> New Action </a>
		</div>
		<script>
			$(document).ready(function() {
				$('#action.name').editable({
					placement: 'bottom',
					params: function(params) {
						// make x-editable act like a normal form field
						var newParams = {};
						newParams[params.name + '-' + params.pk] = params.value;
						return newParams;
					}
				});
				$('#action.symbol').editable({
					placement: 'bottom',
					params: function(params) {
						// make x-editable's POST act like a normal form field
						var newParams = {};
						newParams[params.name + '-' + params.pk] = params.value;
						return newParams;
					}
				});
			});
		</script>
	</body>
</div>
{% endblock %}