{% extends "base.html" %}

{% block title %}ListAction{% endblock %}

{% block page_content %}
<div class="page-header">
	<head>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="static/js/signUp.js"></script>
	</head>
	<body>
		<h3>liste des actions - appFlask</h3>
		<hr/>

		{%- for category, message in get_flashed_messages(with_categories = true) %}
		<div class = "alert alert-danger">
		{{ message }}
		</div>
		{%- endfor %}

		<form class="form-inline">
			{{ form.csrf_token }}
			<div class="form-group">
				{{form.action(class="form-control")}}
			</div>
				<button type="submit" class="btn btn-info">Submit</button>
		</form>
		<div id="result"></div>
	</body>

{% endblock %}