<!DOCTYPE html>
<html lang = "fr">
   <head>
		<title>myActions</title>
	</head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            application euronext</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
		{# index de navigation #}
      <h3>Actions (<a href = "{{ url_for('newAct') }}">Ajout action</a>)</h3>
	  <h3>Ordres (<a href = "{{ url_for('newOrdre') }}">Ajout action</a>)</h3>
	  <a href="{{ url_for('listAct') }}">list actions</a>
	  <!-- pour l'instant supprime -->
      {# <h3>Essais (<a href = "{{ url_for('form') }}">Essai formulaire</a>)</h3>  #}
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Symblole</th>
            </tr>
         </thead>

         <tbody>
            {% for action in listActions %}
               <tr>
                  <td>{{ action.name }}</td>
                  <td>{{ action.symbole }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>