{% extends "starter.html" %}

{% block title %}NewAct1{% endblock %}

{% block page_content %}
<div class="page-header">
	<body>
		<div class="wrapper-editor">
			<div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Actions <b>Details</b></h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                </div>
            </div>
			<table class="table table-bordered table-hover" id="newActTab" >
				<caption>List of actions</caption>
				<thead class="thead-dark">
					<tr>
						<!-- <th class="d-none">Id</th> -->
						<th class="d-none">Id</th>
						<th>Name</th>
						<th class="d-none d-sm-block">Symbole</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				{% for action in listActions %}
					<tr>
						<!-- <td class="d-none">{{ action.id }}</td> -->
						<td class="d-none">{{ action.idAct }}</td>
						<td>{{ action.name }}</td>
						<td class="d-none d-sm-block">{{ action.symbol }}</td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="tooltip" title="Add"><i class="fas fa-table"></i></button>
							<button type="button" class="btn btn-success" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></button>
							<button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></button>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="success" style="display:none;">Retour reponse Ajax avec succes.</div>
	</body>
</div>
{% endblock %}

{% block scripts %}
<!-- Inclusion des parents avec super() OU ne pas mettre le block scripts-->
{{ super() }}
<!-- Where is My Site -->
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<!-- Mon srcipt -->
<!-- <script type=text/javascript src="{{ url_for('static', filename='js/my/deleteRow3.js') }}" ></script> -->
<script type=text/javascript src="{{ url_for('static', filename='js/my/newAct.js') }}" ></script>
{% endblock %}