{% extends "starter.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block title %}NewOrd{% endblock %}

{% block page_content %}
<div class="page-header">
	<body>
		<div class="wrapper-editor">
			<div class="container">
				{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
				{% endfor %}
			</div>
			
			<form method=post>
				{{ form.csrf_token }}
			  <dl>
				{{ render_field(form.sens) }}
				{{ render_field(form.ordDate) }}
				{{ render_field(form.PriceAchat, placeholder="prix action") }}
				{{ render_field(form.quantity, placeholder="quantité") }}
				{{ render_field(form.idAct) }}
			  </dl>
				{{ form.submit }}
			  <!-- <p><input type=submit value=Register> -->
			</form>

			<table class="table table-bordered table-hover" id="ordres" >
				<caption>List of orders</caption>
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>Sens</th>
						<th>Date</th>
						<th>Prix</th>
						<th>Quantite</th>
						<th>Titre</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				{% for ordre in listOrdres %}
					<tr>
						<td>{{ ordre.idOrd }}</td>
						<td>{{ ordre.sens }}</td>
						<td>{{ ordre.ordDate }}</td>
						<td>{{ ordre.PriceAchat }}</td>
						<td>{{ ordre.quantity }}</td>
						<td>{{ ordre.idAct }}</td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="tooltip" title="Add"><i class="fas fa-table"></i></button>
							<button type="button" class="btn btn-success" data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></button>
							<button type="button" class="btn btn-danger" data-toggle="tooltip" title="Delete"><i class="far fa-trash-alt"></i></button>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div> <!-- wrapper-editor -->
	</body>
</div>
{% endblock %}